<div class="w-full bg-gradient-to-b from-teafc-light-blue to-white">
  {% include 'partials/hero.liquid',
    hero_heading: hero_heading,
    hero_subheading: hero_subheading,
    hero_btn: hero_btn,
    display_btn: hero_display_btn,
    swap_col: hero_swap_col,
    img_round_large_screens: hero_img_round_large_screens,
    under_header: hero_under_header
  %}
</div>

{% include 'partials/contact-cards.liquid' %}

<div class="container-lg px-0">
  <div class="flex flex-col items-start justify-center gap-10 bg-teafc-blue p-10 sm:flex-row sm:items-center lg:gap-20">
    <div class="max-w-full flex-1">
      <img
        class="h-full w-full"
        src="/assets/img/teafc-location.svg"
        alt="Map of The Ed Asner Family Center building"
        {% imageDimensions "/assets/img/teafc-location.svg" %}
      >
    </div>
    <div class="flex items-center justify-center">
      <div class="flex max-w-64 flex-col gap-10">
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl font-bold text-white">{{ map_heading1 }}</h2>
          <h3 class="text-lg font-semibold text-white">
            Address: <span class="font-normal">{{ map_address }}</span>
          </h3>
        </div>
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl font-bold text-white">{{ map_heading2 }}</h2>
          <h3 class="text-lg font-semibold text-white">
            Monday - Friday:<span class="font-normal"> {{ map_monday-friday_hours }}</span>
          </h3>
          <h3 class="text-lg font-semibold text-white">
            Saturday - Sunday:<span class="font-normal"> {{ map_saturday_sunday_hours }}</span>
          </h3>
        </div>
        <a
          href="/assets/img/teafc-map.jpg"
          download
          role="button"
          class="button rounded-lg border-teafc-light-blue bg-teafc-light-blue px-12 py-2.5 text-sm font-semibold text-gray-700 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-light-blue"
        >
          {{ map_download_parking_map_cta }}
        </a>
      </div>
    </div>
  </div>
</div>

{% include 'partials/accordions-container.liquid', heading: accordion_heading, subheading: accordion_subheading %}

{% include 'partials/newsletter.liquid' %}
