<div class="space-y-2">
  <div class="mx-auto max-w-2xl">
    <div class="rounded-xl border-2 border-teafc-orange bg-teafc-orange">
      <button
        class="accordion-header w-full"
        role="button"
      >
        <div class="flex items-center justify-between">
          <span class="text-left text-lg font-semibold text-white">{{ accordion_title }}</span>
          <svg
            class="h-5 w-5 flex-none transform text-white"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </button>

      <div
        class="accordion-body hidden rounded-b-xl bg-white px-4"
        role="region"
      >
        <div class="mb-4 mt-2 flex flex-col gap-3 rounded-2xl">
          <h2 class="text-xl font-semibold text-gray-700">{{ accordion_subtitle }}</h2>
          <p class="text-gray-500">
            {{ accordion_paragraph }}
          </p>
          {% if accordion_btn_txt %}
            <a
              href="{{ navigation | getByKey: accordion_link_key }}"
              role="link"
              class="w-60 rounded-lg border-2 border-teafc-orange px-12 py-2.5 text-center text-sm font-semibold  text-gray-700 shadow-sm hover:bg-teafc-light-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
            >
              {{ accordion_btn_txt }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
