<div class="space-y-2">
  <div class="max-w-2xl mx-auto">
    <div class="bg-teafc-orange rounded-xl border-teafc-orange border-2">
      <button
        class="accordion-header w-full"
        role="button"
        aria-controls="panel-1"
        name="accordion-1">
        <div class="flex items-center justify-between">
          <span class="font-semibold text-lg text-white">{{ accordion_title }}</span>
          <p class="text-3xl text-white">+</p>
        </div>
      </button>

      <div
        class="accordion-body px-4 rounded-b-xl border-t max-h-0 bg-white border-teafc-orange"
        id="panel-1"
        role="region"
        aria-labelledby="accordion-1">
        <div class="flex flex-col gap-3 mt-2 mb-4 rounded-2xl">
          <h2 class="text-2xl">{{ accordion_subtitle }}</h2>
          <p>
            {{ accordion_paragraph }}
          </p>
          <button type="button" class="border-2 rounded-lg 
                    border-teafc-orange shadow-sm w-60">
            <a href="{{ navigation.get_involved_url }}" class="text-black px-16 py-1 font-bold">
              {{ accordion_btn_txt }}</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>