<div class="space-y-2">
  <div class="mx-auto max-w-2xl">
    <div class="rounded-xl border-2 border-teafc-orange bg-teafc-orange">
      <button
        class="accordion-header w-full"
        id="accordion-1"
        role="button"
        aria-controls="panel-1"
        aria-expanded="false"
        name="accordion-1"
      >
        <div class="flex items-center justify-between">
          <span class="text-lg font-semibold text-white">{{ accordion_title }}</span>
          <svg
            class="h-5 w-5 flex-none transform text-white"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </button>

      <div
        class="accordion-body hidden rounded-b-xl bg-white px-4"
        id="panel-1"
        role="region"
        aria-labelledby="accordion-1"
      >
        <div class="mb-4 mt-2 flex flex-col gap-3 rounded-2xl">
          <h2 class="text-2xl">{{ accordion_subtitle }}</h2>
          <p>
            {{ accordion_paragraph }}
          </p>
          <div
            role="button"
            class="
              flex w-60
              justify-center rounded-lg border-2 border-teafc-orange shadow-sm
            "
          >
            <a href="{{ navigation | getByKey: accordion_link_key }}" class="px-16 py-1 font-bold text-black">
              {{ accordion_btn_txt -}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
