<div
  class="container-lg flex flex-col items-stretch justify-between gap-4 px-8 text-white sm:flex-row sm:items-start"
>
  <div class="flex flex-col justify-center gap-3 sm:max-w-52 lg:max-w-[30rem]">
    <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-4xl">{{ contact_card_heading }}</h2>
    <p class="text-gray-500">
      {{ contact_card_subheading }}
    </p>
  </div>
  <div class="flex flex-col gap-4 rounded-xl bg-teafc-orange px-8 py-8 sm:flex-1">
    <div class="flex flex-col gap-1">
      <h3 class="text-lg font-semibold">{{ contact_name1 }}</h3>
      <h3 class="text-sm">
        <i>{{ office_title1 }}</i>
      </h3>
    </div>
    <div class="flex flex-col gap-5 border-t border-white">
      <div class="mt-4 flex gap-4">
        <svg width="18" height="20" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.12265 24.4099C9.09919 24.3875 9.07572 24.3651 9.05226 24.3427C8.96374 24.2582 8.87522 24.1737 8.7867 24.0852C7.12914 22.4115 5.6325 20.6574 4.29679 18.8228C2.97718 16.9882 1.91505 15.1536 1.14259 13.3351C0.386229 11.5005 0 9.74642 0 8.07276C0 6.97845 0.193114 5.93241 0.579343 4.96684C0.965572 3.98517 1.5771 3.08397 2.43002 2.27933C3.45997 1.26548 4.58647 0.766602 5.77734 0.766602C6.22794 0.766602 6.67854 0.863159 7.08086 1.05627C7.49927 1.24939 7.86941 1.53906 8.15908 1.95747L11.8926 7.21984C12.1823 7.62216 12.3915 7.9923 12.5363 8.34634C12.6812 8.68429 12.7616 9.02224 12.7616 9.328C12.7616 9.71423 12.649 10.1005 12.4237 10.4706C12.2145 10.8407 11.9087 11.227 11.5225 11.6132L10.2994 12.8845C10.1224 13.0615 10.0419 13.2708 10.0419 13.5282C10.0419 13.657 10.058 13.7696 10.0902 13.8984C10.1124 13.9574 10.1345 14.0097 10.1551 14.0583C10.1794 14.1157 10.2015 14.168 10.219 14.2202C10.5086 14.7513 11.0075 15.4433 11.7156 16.2801C12.4398 17.117 13.2122 17.9699 14.0491 18.8228C14.1295 18.9033 14.214 18.9837 14.2985 19.0642C14.383 19.1447 14.4675 19.2251 14.5479 19.3056C14.5632 19.3205 14.5781 19.3356 14.5926 19.3509C14.948 19.6047 15.2688 19.8043 15.5463 19.9496C15.5899 19.967 15.6382 19.9892 15.6912 20.0135C15.736 20.0341 15.7843 20.0562 15.836 20.0783C15.9647 20.1266 16.0935 20.1427 16.2383 20.1427C16.5119 20.1427 16.7211 20.0462 16.8981 19.8691L18.1212 18.6622C18.5235 18.2599 18.9097 17.9541 19.2799 17.761C19.65 17.5357 20.0201 17.423 20.4225 17.423C20.7282 17.423 21.0501 17.4874 21.4041 17.6322C21.7582 17.7771 22.1283 17.9863 22.5306 18.2599L27.8574 22.0417C28.2758 22.3313 28.5654 22.6693 28.7425 23.0716C28.9034 23.4739 28.9999 23.8763 28.9999 24.3269C28.9999 24.7775 28.9195 25.2442 28.7586 25.6948C28.7103 25.8235 28.662 25.9522 28.5976 26.081C28.324 26.6603 27.97 27.2075 27.5033 27.7225C26.7148 28.5915 25.8457 29.2191 24.8641 29.6214C24.856 29.6214 24.848 29.6254 24.8399 29.6295C24.8319 29.6335 24.8239 29.6375 24.8158 29.6375C23.8663 30.0237 22.8364 30.2329 21.726 30.2329C20.0845 30.2329 18.3304 29.8467 16.4797 29.0582C14.629 28.2696 12.7783 27.2075 10.9438 25.8718C10.3161 25.4051 9.68852 24.9384 9.09308 24.4395L9.12265 24.4099Z" fill="white"/>
        </svg>
        <h3 class="font-semibold">{{ phone_number1 }}</h3>
      </div>
      <div class="flex gap-4">
        <svg width="18" height="20" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.5 0H7.5C3 0 0 2.20588 0 7.35294V17.6471C0 22.7941 3 25 7.5 25H22.5C27 25 30 22.7941 30 17.6471V7.35294C30 2.20588 27 0 22.5 0ZM23.205 8.95588L18.51 12.6324C17.52 13.4118 16.26 13.7941 15 13.7941C13.74 13.7941 12.465 13.4118 11.49 12.6324L6.795 8.95588C6.315 8.57353 6.24 7.86765 6.615 7.39706C7.005 6.92647 7.71 6.83823 8.19 7.22059L12.885 10.8971C14.025 11.7941 15.96 11.7941 17.1 10.8971L21.795 7.22059C22.275 6.83823 22.995 6.91176 23.37 7.39706C23.76 7.86765 23.685 8.57353 23.205 8.95588Z" fill="white"/>
        </svg>
        <h3 class="font-semibold">{{ email1 }}</h3>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-4 rounded-xl bg-teafc-orange px-8 py-8 sm:flex-1">
    <div class="flex flex-col gap-1">
      <h3 class="text-lg font-semibold">{{ contact_name2 }}</h3>
      <h3 class="text-sm">
        <i>{{ office_title2 }}</i>
      </h3>
    </div>
    <div class="flex flex-col gap-5 border-t border-white">
      <div class="mt-4 flex gap-4">
        <svg width="18" height="20" viewBox="0 0 29 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.12265 24.4099C9.09919 24.3875 9.07572 24.3651 9.05226 24.3427C8.96374 24.2582 8.87522 24.1737 8.7867 24.0852C7.12914 22.4115 5.6325 20.6574 4.29679 18.8228C2.97718 16.9882 1.91505 15.1536 1.14259 13.3351C0.386229 11.5005 0 9.74642 0 8.07276C0 6.97845 0.193114 5.93241 0.579343 4.96684C0.965572 3.98517 1.5771 3.08397 2.43002 2.27933C3.45997 1.26548 4.58647 0.766602 5.77734 0.766602C6.22794 0.766602 6.67854 0.863159 7.08086 1.05627C7.49927 1.24939 7.86941 1.53906 8.15908 1.95747L11.8926 7.21984C12.1823 7.62216 12.3915 7.9923 12.5363 8.34634C12.6812 8.68429 12.7616 9.02224 12.7616 9.328C12.7616 9.71423 12.649 10.1005 12.4237 10.4706C12.2145 10.8407 11.9087 11.227 11.5225 11.6132L10.2994 12.8845C10.1224 13.0615 10.0419 13.2708 10.0419 13.5282C10.0419 13.657 10.058 13.7696 10.0902 13.8984C10.1124 13.9574 10.1345 14.0097 10.1551 14.0583C10.1794 14.1157 10.2015 14.168 10.219 14.2202C10.5086 14.7513 11.0075 15.4433 11.7156 16.2801C12.4398 17.117 13.2122 17.9699 14.0491 18.8228C14.1295 18.9033 14.214 18.9837 14.2985 19.0642C14.383 19.1447 14.4675 19.2251 14.5479 19.3056C14.5632 19.3205 14.5781 19.3356 14.5926 19.3509C14.948 19.6047 15.2688 19.8043 15.5463 19.9496C15.5899 19.967 15.6382 19.9892 15.6912 20.0135C15.736 20.0341 15.7843 20.0562 15.836 20.0783C15.9647 20.1266 16.0935 20.1427 16.2383 20.1427C16.5119 20.1427 16.7211 20.0462 16.8981 19.8691L18.1212 18.6622C18.5235 18.2599 18.9097 17.9541 19.2799 17.761C19.65 17.5357 20.0201 17.423 20.4225 17.423C20.7282 17.423 21.0501 17.4874 21.4041 17.6322C21.7582 17.7771 22.1283 17.9863 22.5306 18.2599L27.8574 22.0417C28.2758 22.3313 28.5654 22.6693 28.7425 23.0716C28.9034 23.4739 28.9999 23.8763 28.9999 24.3269C28.9999 24.7775 28.9195 25.2442 28.7586 25.6948C28.7103 25.8235 28.662 25.9522 28.5976 26.081C28.324 26.6603 27.97 27.2075 27.5033 27.7225C26.7148 28.5915 25.8457 29.2191 24.8641 29.6214C24.856 29.6214 24.848 29.6254 24.8399 29.6295C24.8319 29.6335 24.8239 29.6375 24.8158 29.6375C23.8663 30.0237 22.8364 30.2329 21.726 30.2329C20.0845 30.2329 18.3304 29.8467 16.4797 29.0582C14.629 28.2696 12.7783 27.2075 10.9438 25.8718C10.3161 25.4051 9.68852 24.9384 9.09308 24.4395L9.12265 24.4099Z" fill="white"/>
        </svg>
        <h3 class="font-semibold">{{ phone_number2 }}</h3>
      </div>
      <div class="flex gap-4">
        <svg width="18" height="20" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.5 0H7.5C3 0 0 2.20588 0 7.35294V17.6471C0 22.7941 3 25 7.5 25H22.5C27 25 30 22.7941 30 17.6471V7.35294C30 2.20588 27 0 22.5 0ZM23.205 8.95588L18.51 12.6324C17.52 13.4118 16.26 13.7941 15 13.7941C13.74 13.7941 12.465 13.4118 11.49 12.6324L6.795 8.95588C6.315 8.57353 6.24 7.86765 6.615 7.39706C7.005 6.92647 7.71 6.83823 8.19 7.22059L12.885 10.8971C14.025 11.7941 15.96 11.7941 17.1 10.8971L21.795 7.22059C22.275 6.83823 22.995 6.91176 23.37 7.39706C23.76 7.86765 23.685 8.57353 23.205 8.95588Z" fill="white"/>
        </svg>
        <h3 class="font-semibold">{{ email2 }}</h3>
      </div>
    </div>
  </div>
</div>
