<div class="flex flex-col gap-6 mx-5 md:mx-0">
  <div class="flex flex-col gap-2 mt-8 md:mt-4 lg:mt-8">
    <h1 class="text-white text-4xl font-semibold">{{ current-events.current_event_header | upcase }}</h1>
    <p class="text-white font-light">{{ current-events.current_event_text }}{{ current-events.current_event_text }}</p>
  </div>

  <div class="flex flex-col md:flex-row gap-4 md:gap-6 lg:gap-8 mb-10 mx-6 md:mx-0">
    <div class="basis-5/12 bg-red-600 rounded-2xl">
      <img
        class="object-cover w-full h-full rounded-2xl"
        src="https://i.imgur.com/89EXIqI.png"
        alt="">
    </div>
    <div class="basis-7/12 gap-8 sm:gap-6">
      <h2 class="text-white text-3xl font-semibold">{{ current-events.event_1_title }}</h2>
      <p class="text-white font-light">{{ current-events.event_1_text }}</p>
    </div>
  </div>
</div>