<div
  id="col-container"
  class="mx-auto my-10 flex max-w-7xl flex-col rounded-3xl bg-teafc-light-blue pb-10 pt-10 sm:pb-10"
>
  <div
    id="content-container"
    class="flex flex-wrap-reverse justify-center gap-4 px-10 sm:flex-nowrap sm:justify-between "
  >
    <div id="text-content-container" class="flex max-w-full flex-col gap-2 sm:w-1/2 md:w-2/3">
      <div id="time" class="flex ">{{ event_date }}</div>
      <div id="title" class="flex ">{{ event_title }}</div>
      <div id="paragraph" class="flex ">{{ event_paragraph }}</div>
      <div id="by-who" class="flex ">TEAFC</div>
      <div id="place" class="flex ">{{ event_location }}</div>
    </div>
    <div id="image-container" class="flex max-w-full justify-center sm:w-1/2 sm:justify-end md:w-1/3 lg:h-56">
      {% comment %} 👇 Probably don't need this div  {% endcomment %}
      <div class="flex justify-center">
        <img
          src="{{ event_img }}"
          alt=""
          class="aspect-square rounded-2xl"
          {% imageDimensions event_img %}
        >
      </div>
    </div>
  </div>
</div>
