<div class="mx-auto flex max-w-2xl flex-col items-center gap-x-8 gap-y-8 rounded-3xl bg-teafc-light-blue p-10 shadow-md ring-2 ring-inset lg:mx-0 lg:max-w-none lg:flex-row">
  <div class="flex items-center lg:max-w-40%">
    <img
      class="aspect-[4/3] w-full rounded-3xl object-contain"
      src="{{ event_card_img }}"
      alt=""
      {% imageDimensions event_card_img %}
    >
  </div>
  <div class="lg:max-w-60%">
    <div class="text-base leading-7 text-gray-700 lg:max-w-xl">
      <h1 class="text-2xl font-bold tracking-tight text-gray-700 sm:text-3xl lg:text-3xl">
        {{ event_card_title }}
      </h1>
      <div class="max-w-xl">
        <p class="mt-4">{{ event_card_paragraph }}</p>
        {% if event_card_hidden_text %}
          <p class="event-card-hidden-text hidden">
            {{ event_card_hidden_text }}
          </p>
          <button
            role="button"
            aria-controls="event-card-hidden-text"
            aria-expanded="false"
            name="event-card-read-more-button"
            class="event-card-read-more-button mt-4 flex items-center gap-1 pr-4 font-semibold text-gray-700"
          >
            Read More
            <svg
              class="h-5 w-5 flex-none transform text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
            </svg>
          </button>
        {% endif %}
      </div>
    </div>
    <dl class="mb-8 mt-6 grid grid-cols-2 gap-4 border-t border-gray-900/10 pt-6 sm:gap-8 lg:flex xl:mb-12">
      <div>
        <dt class="text-sm font-semibold leading-6 text-gray-600">{{ event_card_detail_header1 }}</dt>
        <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">{{ event_card_detail1 }}</dd>
      </div>
      <div>
        <dt class="text-sm font-semibold leading-6 text-gray-600">{{ event_card_detail_header2 }}</dt>
        <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">{{ event_card_detail2 }}</dd>
      </div>
      <div class="col-span-full lg:flex-1">
        <dt class="text-sm font-semibold leading-6 text-gray-600">{{ event_card_detail_header3 }}</dt>
        <dd class="mt-2 text-lg font-semibold leading-10 tracking-tight text-gray-700">{{ event_card_detail3 }}</dd>
      </div>
    </dl>
    <a
      href="{{ navigation | getByKey: event_card_btn_link_key }}"
      class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
    >
      {{ event_card_btn_txt }}
    </a>
  </div>
</div>
