<div class="w-full bg-gradient-to-b from-teafc-light-blue to-white">
  <div class="container-md">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:items-center lg:gap-y-0">
      <div class="order-1 lg:order-none">
        <h1 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-4xl">{{ feature_section_cta_heading }}</h1>
        <p class="mt-6 text-lg leading-8 text-gray-500">
          {{ feature_section_cta_subheading }}
        </p>
        <div class="lg:mt-4 lg:border-t lg:border-teafc-light-orange lg:pt-4">
          <dl class="mt-5 flex flex-col gap-4 text-base leading-7 text-gray-500 lg:max-w-[30rem]">
            <div>
              <dt class="inline font-semibold text-gray-500">{{ feature_section_cta_feature1_title }}</dt>
              <dd class="inline">{{ feature_section_cta_feature1_description }}</dd>
            </div>
            <div>
              <dt class="inline font-semibold text-gray-500">{{ feature_section_cta_feature2_title }}</dt>
              <dd class="inline">{{ feature_section_cta_feature2_description }}</dd>
            </div>
          </dl>
        </div>
        <a
          href="{{ navigation | getByKey:feature_section_cta_btn_link_key }}"
          class="button mt-8 flex w-44 justify-center rounded-lg border-teafc-orange bg-teafc-orange py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
        >
          {{ feature_section_cta_btn }}
        </a>
      </div>

      <img
        src="{{ feature_section_cta_img }}"
        alt="{{ feature_section_cta_img_alt }}"
        class="min-w-full rounded-xl shadow-md ring-1 ring-white/10 lg:row-span-4 lg:w-[32rem] lg:max-w-none"
        {% imageDimensions feature_section_cta_img %}
      >
    </div>
  </div>
</div>
