{% comment %} Bottom padding logic {% endcomment %}
{% assign footer_top_padding_lower = footer_top_padding | downcase %}
{% if footer_top_padding_lower == 'false' %}
  {% assign footer_top_padding_class = 'pt-0' %}
{% endif %}

<footer class="" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="container-lg px-0 pb-0 {{ footer_top_padding_class }}">
    <div class="flex flex-col bg-teafc-blue px-6 pb-8 pt-16 sm:px-6 sm:pt-24 lg:px-16">
      <div class="flex flex-col gap-8">
        <div class="max-w-2xl self-center text-center">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-3xl lg:text-3xl">
            Compassion. Inclusivity. Wellness.
          </h2>
          <p class="mt-6 text-base text-white lg:text-lg">
            We empower our families and individuals, providing them with the tools and support needed to thrive in every
            aspect of their lives.
          </p>
        </div>
        <div class="flex justify-center gap-4">
          <a
            href="{{ navigation.contact_url }}/"
            target="_blank"
            class="flex w-44 justify-center rounded-lg border-teafc-orange bg-teafc-orange py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
          >
            Enroll
          </a>
          <a
            href="{{ navigation.donate_url }}/"
            target="_blank"
            class="flex w-44 justify-center rounded-lg border-teafc-orange bg-teafc-orange py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
          >
            Donate Now
          </a>
        </div>
      </div>
      <div class="mt-16 flex flex-col items-center justify-between gap-8 border-t border-white pt-8 text-white/10 sm:mt-20 xl:flex-row xl:gap-0">
        <div class="flex flex-1">
          <a href="/">
            <img
              class="h-16"
              src="/assets/img/logo-white.svg"
              alt="The Ed Asner Family Center"
            >
          </a>
        </div>
        <div class="flex flex-col items-center gap-4 text-center">
          <p class="text-xs leading-5 text-white">&copy; 2024 The Ed Ansner Family Center</p>
          <div class="flex flex-col items-center">
            <p class="text-xs leading-5 text-white">The Ed Asner Family Center is a 501 c3 non profit Corporation.</p>
            <p class="text-xs leading-5 text-white">Tax ID number 82-4043883</p>
          </div>
          <div class="flex flex-col items-center">
            <p class="text-xs leading-5 text-white">DDS Phone number: 916-654-1987</p>
            <p class="text-xs leading-5 text-white">www.dds.ca.gov/complaints</p>
          </div>
        </div>
        <div class="flex flex-col items-center gap-8 xl:flex-1 xl:items-end">
          <div class="flex space-x-6">
            <a href="{{ navigation.facebook_url }}" class="text-white hover:text-white">
              <span class="sr-only">Facebook</span>
              <svg
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a href="{{ navigation.instagram_url }}" class="text-white hover:text-white">
              <span class="sr-only">Instagram</span>
              <svg
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a href="{{ navigation.twitter_url }}" class="text-white hover:text-white">
              <span class="sr-only">X</span>
              <svg
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z" />
              </svg>
            </a>
            <a href="{{ navigation.tiktok_url }}" class="text-white hover:text-white">
              <span class="sr-only">TikTok</span>
              <svg
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M 20.79195,10.75124 V 7.6062065 c -0.03652,0 -0.03652,0 -0.03652,0 -0.87716,0 -1.717731,-0.2530398 -2.412084,-0.7229841 -1.023309,-0.6506875 -1.754252,-1.6990225 -1.973577,-2.8919518 -0.07304,-0.2530459 -0.07304,-0.506092 -0.07304,-0.7591379 0,-0.036149 0,-0.036149 0,-0.072298 H 13.0806 V 15.812103 c 0,1.482173 -1.24256,2.711208 -2.741,2.711208 -1.498413,0 -2.7409946,-1.229035 -2.7409946,-2.711208 0,-1.482103 1.2425816,-2.711212 2.7409946,-2.711212 0.292377,0 0.5482,0.03617 0.840605,0.144653 V 9.9920719 c -0.292405,-0.03614 -0.548228,-0.0723 -0.840605,-0.0723 -3.2891946,0 -5.9205533,2.6388971 -5.9205533,5.8923341 0,3.253435 2.6313587,5.856228 5.9205533,5.856228 3.289207,0 5.957135,-2.602793 5.957135,-5.856228 V 9.3413832 c 1.242559,0.9037268 2.777483,1.4098628 4.458695,1.4098628 z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <a href="{{ navigation.youtube_url }}" class="text-white hover:text-white">
              <span class="sr-only">YouTube</span>
              <svg
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
