<!-- /_includes/partials/hero.liquid -->
<div class="container-md lg:grid lg:grid-cols-2 lg:gap-x-8">
  <h1 class="text-3xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-4xl lg:hidden lg:text-4xl">
    {{ heading }}
  </h1>
  <!-- HERO LEFT -->
  <div class="mx-auto sm:mt-10 lg:mx-0 lg:mt-0">
    <img
      src="{{ img }}"
      alt=""
      class="mx-auto mt-6 rounded-2xl lg:mt-0"
      {% imageDimensions img %}
    >
  </div>
  <!-- HERO RIGHT -->
  <div class="mt-2 flex flex-col justify-center lg:mt-10 lg:pt-4">
    <h1 class="hidden text-3xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-4xl lg:block lg:text-4xl">
      {{ heading }}
    </h1>
    <div class="flex flex-col overflow-hidden">
      <p class="mt-3 text-base leading-8 text-gray-600">
        {{ paragraph }}
      </p>
      <p
        id="founders-hidden-text"
        class="mt-3 hidden max-h-0 text-base leading-8 text-gray-600"
        role="text"
        aria-labelledby="founders-read-more-button"
      >
        {{ hidden_text }}
      </p>
    </div>
    <button
      id="founders-read-more-button"
      role="button"
      aria-controls="founders-hidden-text"
      aria-expanded="false"
      name="founders-read-more-button"
      class="mt-4 flex items-center justify-center gap-1 font-semibold text-gray-700"
    >
      Read More
      <svg class="h-5 w-5 flex-none transform text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
      </svg>
    </button>
    <img
      class="self-center py-5"
      src="/assets/img/signatures.svg"
      alt="Matt and Navah Asner signature"
      {% imageDimensions "/assets/img/signatures.svg" %}
    >
  </div>
</div>
