<div class="container-sm flex flex-col items-center bg-white">
  <div class="max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-4xl">
      {{ get-involved.section_title | upcase }}
    </h2>
    <p class="mt-6 text-lg text-gray-500">
      {{ get-involved.section_desc }}
    </p>
  </div>
  <div class="mt-14 flex flex-row gap-6 lg:max-w-none lg:gap-12">
    <div class="flex flex-1 flex-col gap-4 rounded-xl bg-white/5">
      <div class="flex justify-center overflow-hidden rounded-lg bg-red-800">
        <img
          class="aspect-square max-h-52 w-full object-cover object-top"
          src="{{ get-involved.card_1_img }}"
          alt=""
        >
      </div>
      <div class="flex flex-grow flex-col gap-2 text-base leading-6">
        <h3 class="font-semibold text-gray-700">{{ get-involved.card_1_title | upcase }}</h3>
        <div class="w-1/1 h-0.5 bg-gray-300 "></div>
        <p class="text-gray-500">{{ get-involved.card_1_desc }}</p>
      </div>
    </div>
    <div class="flex flex-1 flex-col gap-4 rounded-xl bg-white/5">
      <div class="flex justify-center overflow-hidden rounded-lg bg-red-800">
        <img
          class="aspect-square max-h-52 w-full object-cover object-center"
          src="{{ get-involved.card_2_img }}"
          alt=""
        >
      </div>
      <div class="flex flex-grow flex-col gap-2 text-base leading-6">
        <h3 class="font-semibold text-gray-700">{{ get-involved.card_2_title | upcase }}</h3>
        <div class="w-1/1 h-0.5 bg-gray-300 "></div>
        <p class="text-gray-500">{{ get-involved.card_2_desc }}</p>
      </div>
    </div>
  </div>
</div>
