<!-- /_includes/partials/hero.liquid -->

{% comment %} Hide CTA button logic {% endcomment %}
{% assign display_btn_lower = display_btn | downcase %}
{% if display_btn_lower == 'false' %}
  {% assign display_btn_class = 'hidden' %}
{% else %}
  {% assign display_btn_class = '' -%}
{%- endif %}

{% comment %} Swap col logic {% endcomment %}
{% assign swap_col_lower = swap_col | downcase %}
{% if swap_col_lower == 'true' %}
  {% assign swap_col_class = 'order-1' %}
{% else %}
  {% assign swap_col_class = '' -%}
{%- endif %}

{% comment %} IMG Rounding logic for large Screens {% endcomment %}
{% assign img_round_lower = img_round_large_screens | downcase %}
{% if img_round_lower == 'left' %}
  {% assign img_round_class = 'lg:rounded-r-none lg:rounded-l-2xl' %}
{% elsif img_round_lower == 'right' %}
  {% assign img_round_class = 'lg:rounded-r-2xl lg:rounded-l-none' %}
{% elsif img_round_lower == 'both' %}
  {% assign img_round_class = 'lg:rounded-2xl' %}
{% else %}
  {% assign img_round_class = '' %}
{% endif %}

{% comment %} Top padding logic for large Screens {% endcomment %}
{% assign under_header_lower = under_header | downcase %}
{% if under_header_lower == 'true' %}
  {% assign under_header_class = 'container-lg pt-10' %}
  {% assign font_size_class = 'sm:text-6xl' %}
{% else %}
  {% assign under_header_class = 'container-md' %}
  {% assign font_size_class = 'sm:text-4xl' %}
{% endif %}

<!-- HERO LEFT -->
<div class="{{ under_header_class }} lg:grid lg:grid-cols-2 lg:gap-x-8">
  <div class="lg:pt-4 {{ swap_col_class }}">
    <div class="mx-auto">
      <div class="">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 {{ font_size_class }}">{{ hero_heading }}</h1>
        <p class="mt-3 text-lg leading-8 text-gray-600">{{ hero_subheading }}</p>
        <div class="mt-5 flex items-center gap-x-6">
          <a
            href="{{ navigation.about_us_url }}"
            class="{{ display_btn_class }} rounded-md bg-teafc-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            {{- hero_btn -}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- HERO RIGHT -->
  <div class="mt-10 sm:mt-24 md:mx-auto md:max-w-4xl lg:mx-0 lg:mt-0">
    <div class="lg:pt-4">
      <img
        src="{{ hero_img }}"
        alt=""
        class="rounded-xl {{ img_round_class }} hidden sm:block"
      >
      <img
        src="{{ hero_img_mobile }}"
        alt=""
        class="rounded-xl {{ img_round_class }} sm:hidden"
      >
    </div>
  </div>
</div>
