<!-- _includes/partials/info-cards-container.liquid -->
{% assign info_card_container_width_lowercase = info_card_container_width | downcase %}
{% if info_card_container_width_lowercase == 'lg' %}
  {% assign container_width_class = 'container-lg' %}
{% elsif info_card_container_width_lowercase == 'sm' %}
  {% assign container_width_class = 'container-sm' %}
{% else %}
  {% assign container_width_class = 'container-md' %}
{% endif %}

{% comment %}
  This logic exists for accessibility.
  Sometimes info card heading should be H1 and other times it should H2 depending on the page.
{% endcomment %}
{% assign info_card_container_heading_tag_lowercase = info_card_container_heading_tag | downcase %}
{% if info_card_container_heading_tag_lowercase != null and info_card_container_heading_tag_lowercase != '' %}
  {% assign heading_tag_class = info_card_container_heading_tag_lowercase %}
{% else %}
  {% assign heading_tag_class = 'h2' %}
{% endif %}

<div class="{{ container_width_class }} flex flex-col">
  <div class="flex flex-col">
    <{{ heading_tag_class }} class="text-3xl font-bold tracking-tight text-gray-700 sm:text-left sm:text-4xl lg:text-4xl">
      {{ info_card_title }}
    </{{ heading_tag_class }}>
    <p class="mt-6 text-base text-gray-500 lg:text-lg">{{ info_card_subtitle }}</p>
  </div>
  <div class="mx-auto mt-5 flex max-w-full snap-x snap-mandatory gap-6 overflow-x-auto p-6 sm:mt-10 sm:grid sm:grid-cols-{{info_card_md_grid_col_num}} lg:max-w-none lg:grid-cols-{{info_card_grid_col_num}} lg:gap-8">
    {% for info_card in info_cards %}
      {% include 'partials/info-card.liquid',
        info_card_img: info_card.info_card_img,
        info_card_title: info_card.info_card_title,
        info_card_date_time: info_card.info_card_date_time,
        info_card_paragraph: info_card.info_card_paragraph,
        info_card_btn_txt: info_card.info_card_btn_txt,
        info_card_link_key: info_card.link_key
      %}
    {% endfor %}
  </div>
</div>
