<!-- _includes/partials/info-card.liquid -->
<div class="flex max-w-[90%] flex-shrink-0 snap-start flex-col gap-4 rounded-xl bg-white/5 p-6 ring-2 ring-inset ring-teafc-orange sm:max-w-80">
  <div class="flex justify-center overflow-hidden rounded-lg">
    <img
      class="aspect-square max-h-40 w-full object-cover object-top"
      src="{{ info_card_img }}"
      alt=""
      {% imageDimensions info_card_img %}
    >
  </div>
  <div class="flex flex-grow flex-col gap-2 text-base leading-6">
    <h3 class="font-semibold text-gray-700">{{ info_card_title }}</h3>
    <p class="text-gray-500">{{ info_card_date_time }}</p>
    <div class="w-1/1 h-0.5 bg-gray-300 "></div>
    <p class="text-gray-500">{{ info_card_paragraph }}</p>
  </div>
  {% if info_card_btn_txt %}
    <div class="flex">
      <a
        href="{{ navigation | getByKey: info_card_link_key }}"
        class="rounded-lg border-teafc-orange bg-teafc-orange px-12 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teafc-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teafc-orange"
      >
        {{ info_card_btn_txt }}
      </a>
    </div>
  {% endif %}
</div>
