<!-- _includes/partials/logo-cloud-container.liquid -->
{% if top_divider %}
  <div class="sm:container-md hidden sm:block">
    <div id="orange-line" class="h-2 w-full bg-teafc-orange p-0"></div>
  </div>
{% endif %}
<div class="container-sm flex flex-col">
  <h2 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-4xl">{{ title }}</h2>
  <p class="mt-6 text-lg text-gray-500">{{ subtitle }}</p>
  <div class="bg-white py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-lg grid-cols-{{ grid_cols_sm_num }} items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-{{ grid_cols_md_num }} sm:gap-x-40 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-{{ grid_cols_lg_num }}">
        {% for logo in logos %}
          {% include 'partials/logo-cloud.liquid',
            col_span_sm: logo_cloud_col_span_sm,
            col_span_lg: logo_cloud_col_span_lg,
            logo_img: logo.img,
            logo_alt_tag: logo.img_alt_tag
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% if bottom_divider %}
  <div class="sm:container-md hidden sm:block">
    <div id="orange-line" class="h-2 w-full bg-teafc-orange p-0"></div>
  </div>
{% endif %}
