<!-- _includes/partials/testimonials.liquid -->
<div class="container-lg px-0">
  <div class="bg-teafc-blue sm:px-6 lg:px-8">
    <div class="flex flex-col items-center gap-10 px-6 py-8 sm:px-0 md:py-12 lg:py-16">
      <div class="mx-auto flex flex-col gap-4 text-center md:max-w-lg lg:max-w-3xl">
        <h2 class="text-3xl font-bold tracking-tight text-white lg:text-4xl">{{ testimonials.title }}</h2>
        <p class="text-lg font-light leading-8 tracking-tight text-white ">{{ testimonials.subtitle }}</p>
      </div>
      <div class="flex w-full max-w-full snap-x snap-mandatory grid-cols-1 grid-rows-1 gap-6 overflow-x-auto text-sm leading-6 text-gray-900 sm:grid sm:grid-cols-2 sm:gap-8 sm:px-6">
        <figure class="flex h-full max-w-[85%] flex-shrink-0 snap-start flex-col justify-between rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 sm:max-w-none sm:p-0">
          <blockquote class="text-gray-900 sm:p-6 sm:text-lg sm:font-normal sm:leading-8 sm:tracking-tight">
            <p>{{ testimonials.testimonial_1_testimony }}</p>
          </blockquote>
          <figcaption class="mt-6 flex items-center gap-x-4 sm:mt-0 sm:gap-y-4 sm:border-t sm:border-gray-900/10 sm:px-6 sm:py-4">
            <img
              class="h-20 w-20 flex-none rounded-full bg-gray-50"
              src="{{ testimonials.testimonial_1_photo }}"
              alt=""
              {% imageDimensions testimonials.testimonial_1_photo %}
            >
            <div class="flex-auto">
              <div class="font-semibold">{{ testimonials.testimonial_1_name }}</div>
              <div class="text-gray-600">{{ testimonials.testimonial_1_affiliation }}</div>
            </div>
          </figcaption>
        </figure>
        <figure class="flex h-full max-w-[85%] flex-shrink-0 snap-start flex-col justify-between rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 sm:max-w-none">
          <blockquote class="text-gray-900">
            <p>{{ testimonials.testimonial_2_testimony }}</p>
          </blockquote>
          <figcaption class="mt-6 flex items-center gap-x-4">
            <img
              class="h-20 w-20 rounded-full bg-gray-50"
              src="{{ testimonials.testimonial_2_photo }}"
              alt=""
              {% imageDimensions testimonials.testimonial_2_photo %}
            >
            <div>
              <div class="font-semibold">{{ testimonials.testimonial_2_name }}</div>
              <div class="text-gray-600">{{ testimonials.testimonial_2_affiliation }}</div>
            </div>
          </figcaption>
        </figure>
        <figure class="flex h-full max-w-[85%] flex-shrink-0 snap-start flex-col justify-between rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5 sm:max-w-none">
          <blockquote class="text-gray-900">
            <p>{{ testimonials.testimonial_3_testimony }}</p>
          </blockquote>
          <figcaption class="mt-6 flex items-center gap-x-4">
            <img
              class="h-20 w-20 rounded-full bg-gray-50"
              src="{{ testimonials.testimonial_3_photo }}"
              alt=""
              {% imageDimensions testimonials.testimonial_3_photo %}
            >
            <div>
              <div class="font-semibold">{{ testimonials.testimonial_3_name }}</div>
              <div class="text-gray-600">{{ testimonials.testimonial_3_affiliation }}</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
